.a {
  max-height: 200px;
}

.b {
  width: 100px;
  height: 100px;
}

.b * {
  max-width: 100%;
  max-height: 100%;
}

.c {
  cursor: pointer;
  transition: fill 0.3s ease-out;
}

.d {
  transition: opacity 0.3s ease-out;
}